<?xml version="1.0" encoding="UTF-8" ?>

<config>
    <entry key="types" private="true">sidebar</entry>
    <entry key="title">Row Gadget</entry>
    <entry key="description" private="true">Generates rows, updates row configuration, and deleting rows.</entry>
    <entry key="initial_height" private="true">300</entry>
    <entry key="sidebar_context" private="true">edit</entry>
</config>
