<?xml version="1.0" encoding="UTF-8" ?>

<config>
    <entry key="types" private="true">sidebar</entry>
    <entry key="title">Row Generator</entry>
    <entry key="icon" private="true">http://vignette1.wikia.nocookie.net/bravefrontierglobal/images/e/e6/Unit_ills_thum_10847.png/revision/latest?cb=20160224185520</entry>
    <entry key="description" private="true">Generates rows, updates row configuration, and deleting rows.</entry>
</config>
