#preview {    
    margin: auto;
    padding: 10px;
}

#preview, #previewNew {
    border: 1px #000000 solid;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#display h2, #buttonControl, #rowGenerator {
    text-align: center;
}

#main .button {
    padding: 10px;
    margin-top: 10px;
}

#rowGenerator .column.medium-4 {
    display: none;
    border: 1px #000000 solid;
}

#preview .row.row {
    width: 100%;
}

/* For v1 testing purposes. */
#grid-form {
    padding: 10px;
}

#cols {
    width: 14em;
}

#testRows {
    display: none;
}

#listSort li {
    list-style-type: none;
}

#listSort li > input {
    margin-right: 5px;
}

.highlights {
    background-color: #ffffdd;
}

#listConfirm {
    display: none;
}

.gg-col {
    min-height: 100px;
    margin: auto;
    min-width: 3em;
    padding: 0;
    overflow: hidden;
}

.gg-col input {
    min-width: 2em;
    text-align: center;
    margin: auto;
}
    
.gg-col:first-child {
    background-color: #ff0000;
}

.gg-col:nth-child(2) {
    background-color: #ffff00;
}

.gg-col:nth-child(3){
    background-color: #00ff00;
}

.gg-col:nth-child(4) {
    background-color: #0000ff;
}
