#grid-form {
    padding: 10px;
}

.small-60 {
    width: 20%;
}

#cols {
    width: 3em;
    width: 14em;
}

#preview {
    border: 1px #000000 solid;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#testRows {
    display: none;
}

#listSort li {
    list-style-type: none;
}

#listSort li > input {
    margin-right: 5px;
}

.highlights {
    background-color: #ffffdd;
}

#listConfirm {
    display: none;
}

.gg-col {
    max-height: 300px;
    height: 200px;
    margin: auto;
    min-width: 3em;
    padding: 0;
    overflow: hidden;
}

.gg-col input {
    min-width: 2em;
    text-align: center;
    margin: auto;
}
    
.gg-col1 {
    background-color: #ff0000;
}

.gg-col2 {
    background-color: #ffff00;
}

.gg-col3 {
    background-color: #00ff00;
}

.gg-col4 {
    background-color: #0000ff;
}
