#preview, #previewNew {
    border: 1px #000000 solid;
    overflow: hidden;
    text-align: center;
}

#preview {    
    margin: auto;
    padding: 10px;
    max-height: 400px;
    overflow-y: scroll;
}

#preview .row.row {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

#preview .delete {
    height: 50px;
    width: 50px;
    background-color: #45abcd;
    border: 1px #000000 solid;
    background-image: url('https://cdn2.iconfinder.com/data/icons/filled-icons/493/x-128.png');
    background-size: cover;
    content: attr(preview);
}

#display h2, #buttonControl, #rowGenerator {
    text-align: center;
}

#main .button {
    padding: 10px;
    margin-top: 10px;
}

#rowGenerator .column.medium-4 {
    display: none;
    border: 1px #000000 solid;
}

/* For v1 testing purposes. */
#grid-form {
    padding: 10px;
}

#cols {
    width: 14em;
}

#testRows {
    display: none;
}

#listSort li {
    list-style-type: none;
}

#listSort li > input {
    margin-right: 5px;
}

.highlights {
    background-color: #ffffdd;
}

#listConfirm {
    display: none;
}

.gg-col {
    height: 50px;
    margin: auto;
    min-width: 3em;
    padding: 0;
    overflow: hidden;
}

#preview .gg-col {   
    border: 2px #000fff solid;
}

.gg-col input {
    min-width: 2em;
    text-align: center;
    margin: auto;
}
    
.gg-col:first-child {
    background-color: #ff0000;
}

.gg-col:nth-child(2) {
    background-color: #ffff00;
}

.gg-col:nth-child(3){
    background-color: #00ff00;
}

.gg-col:nth-child(4) {
    background-color: #0000ff;
}
